* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo-icons {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.logo-icons img {
  margin-bottom: 20px;
}
.search-icon {
  font-size: 30px;
  color: rgb(42, 35, 35);
  display: flex;
  gap: 20px;
}

.search-icon i {
  margin-top: 10px;
}
input {
  padding: 20px;
  width: 72%;
  font-size: large;
  border: 1px solid #cccccc;
  border-radius: 10px;
}
nav {
  padding: 40px;
}
nav ul {
  list-style: none;
  font-size: large;
  display: grid;
  gap: 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  color: rgb(150, 83, 113);
}

.hero {
  padding: 40px;
  border: 1px solid darkgray;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero-border {
  padding: 20px;
  border: 1px solid black;
}
.spots {
  display: none;
  /* display: flex;
  flex-direction: row; 
  border: 2px solid rgb(170, 237, 76);
  background-color: rgb(170, 237, 76);*/
}

.spots img {
  width: 100%;
}

.popular-products {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr;
}
.product {
  margin-bottom: 20px;
}

.product-text {
  display: flex;
  justify-content: space-between;
}

.popular-products img {
  width: 100%;
}

.more-info {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr;
}
.more-info a {
  text-decoration: none;
  font-size: larger;
}

.copyright {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.shopping,
.about {
  display: grid;
  grid-template-columns: 1fr;
}
.shopping a,
.about a {
  text-decoration: none;
}
footer {
  padding: 40px;
}

/* tablet */
@media (min-width: 640px) {
}

/* Desktop */
@media (min-width: 1024px) {
  .spots {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(170, 237, 76);
    background-color: rgb(170, 237, 76);
  }
}

.product-recs {
  display: flex;
  flex-direction: row;
}
